.site-title {
    color: #111;
    text-decoration: none;
    font-weight: bold;
    /* font-size: 2rem; */
}

.site-title:hover {
    color: #333;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
}

.menu li a:hover {
    color: #333;
    background: #eceee8;
}

.main-nav {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
