@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;500;700&display=swap');

body {
    font-family: 'Times New Roman', 'Noto Serif KR', Times, serif;
}

.site-title {
    color: #2c3e50;
    text-decoration: none;
    font-weight: bold;
    /* font-size: 2rem; */
}

.site-title:hover {
    color: #555;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.menu li a:hover {
    color: #0077cc;
}

.main-nav {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}